<!-- views/partials/nav.ejs -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        
        <div class="navbar-header">
            <a href="/stories" class="navbar-brand">Artify</a>
        </div>
               
        <ul class="nav navbar-nav navbar-right"> 
            <% if(pageurl) {%>

            <% if(pageurl=='/editprofile') {%>
                <a href="/stories"><button id="skip" type="button" class="btn btn-warning">Skip</button></a>
                <button id="saveprofile" type="button" class="btn btn-success">Save</button>
            <% } %>

            <% if(pageurl.includes("/edit/")) {%>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#deletestory">Delete</button>
                <button id="publish" type="button" class="btn btn-success">Update</button>
            <% } %>

            <% if(pageurl.includes("/@")) {%>
                <% if (user) {%>
                    <% if(user.curruserid) {%>
                        <% if(user._id==user.curruserid) {%>
                            <button id="editprofile" type="button" class="btn btn-success">Edit Profile</button>
                        <% } %>
                    <% } %>
                <% } %>
             <% } %>

            <% if(pageurl=='/new-story') {%>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#discardstory">Discard</button>
                <button id="publish" type="button" class="btn btn-success">Publish</button>
            <% } else {%>
                <a href="/new-story"><button id="saveprofile" type="button" class="btn btn-success">Write A Story</button></a>
            <% } %>

            <% } %>

                    
            <div class="dropdown profiledropdown">
                <!-- url level fix -->
                <% if(pageurl.split("/").length <1) { %>
                    <a href="#" data-toggle="dropdown"><img src="img/user.png" class="profilepic"></a>
                <% } else{ %>
                    <a href="#" data-toggle="dropdown"><img src="../img/user.png" class="profilepic"></a>
                <% } %>
                <span class="caret"></span>
                    <ul class="dropdown-menu">
                        <li><a href="/my-stories">My Stories</a></li>
                        <li><a href="/editprofile">Edit Profile</a></li>
                        <li><a href="/discover">Discover</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
            </div>
    
    </div>
</nav>