<title>Oops! 404 Error.</title>
     <style>
body,div{
margin:0;
padding:0;
}
     #home{
    background-size:cover;	
    background-image:url("../img/bg.jpg");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height:100%;
}

.content{
    max-height: 100%;
    max-width: 500px;
    margin: 10% 0 0 10%;
    color: white;
    font-family: 'Amatic SC', cursive;
   font-size: 60px;
}

a{
color:white;
text-decoration:none;
}


     </style>
       
</head>
<body>



    <div id="home">
        <div class="logo">
            <center><a href="/"><img src="../img/logo.png"> </a>
        </center></div>
    
        
        <div class="content">
                " Oops, Error 404. The page you requested was not found on our server!"
        </div>
        
</div>