<html>
<head>

<meta name="viewport" content="width=device-width,initial-scale=1.0">	
    <title>Change Password ~ Artify</title>
    <link href="../css/login.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:300,400' rel='stylesheet' type='text/css'>
    <link rel="icon" href="img/trippe-favicon1.png"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<script type="text/javascript">
function bgop()
{
 document.body.style.opacity ="1";

	 document.body.style.transition="all 1s";
}
function validation(){
    var pass=$('#password').val();
    var cpass=$('#cpassword').val();

    if(!pass || !cpass){
        alert('Input should not be empty!');
        return false;
    }

    if(pass.length<6 || cpass.length<6){
        alert("Minimum Password length should be 6 letters!");
        return false;
    }

    if(pass!==cpass){
        alert('Password and Confirm Password is not matched!');
        return false;
    }
}
</script>
<body onload="bgop();">
        
        <div class="logo">
          <center> <a href="/"><img src="../img/logo.png"> </a>
        </div>
    
            <div class="nav">
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/#features1">Features</a></li>
            <li><a href="/#contactus">Contact Us</a></li>
            <li><a href="/#aboutus">About Us</a></li>
            <li class="active"><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            </ul>
        </div>
        
        <form name="login" method="post" onsubmit="return validation()">
            <div id="login">
                <div class="heading">
                    <span>Change Password</span>
                </div>
                <input type="password" class="input" id="password" name="password" placeholder="Enter new password" minlength="1">
                <input type="password" class="input" id="cpassword" name="cpassword" placeholder="Confirm new password" minlength="1">
                <center> <input type="submit" class="submitbtn" onclick="" value="Change Paasword"><br/><br/>
            </div>
        </form>
</body>
</html>