<!DOCTYPE html>
<html>
    <head>
        <title>Edit Profile ~ Artify</title>      
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/newstory.css">
        <script>
            var username=<%- JSON.stringify(user.local.username) %>
            $(document).ready(function(){     
                <% if(user) {%>
                    $('#fullname').val(<%- JSON.stringify(user.profile.fullname) %> );
                    $('#bio').val(<%- JSON.stringify(user.profile.bio) %> );
                    $('#location').val(<%- JSON.stringify(user.profile.location) %> );
                    $('#age').val(<%- JSON.stringify(user.profile.age) %> );
                <% }%>
            });    
        </script>
        <script src="js/profile.js"></script>
    </head>
    <body>

        <!-- navbar -->
        <% include partials/nav %>
        <!-- navbar end -->

         <div class="container">
            <div is="#profile">
                <input type="text" id="fullname" class="editor"  placeholder="Full Name" maxlength="30" /><br/>
                <textarea id="bio" class="editor" placeholder="Your Short Bio here" rows="5" maxlength="300"></textarea><br/>
                <input type="text" id="location"  class="editor" placeholder="Location" maxlength="30" /><br/>
                <input type="number" id="age" min="10" max="120" class="editor"  placeholder="Age" /><br/>
            </div>
        </div>

    </body> 
</html>