<!DOCTYPE html>
<html>
    <head>
        <title>Edit ~ Artify</title>      
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/598c8aa2ed.js"></script>
        <link rel="stylesheet" href="../css/newstory.css">
        <script>
            var storyid = <%- JSON.stringify(story._id) %> ;
            $(document).ready(function(){
                var desc = <%- JSON.stringify(story.description) %>;
                var title = <%- JSON.stringify(story.title) %> ;
                $('#title').append(title);
                $('#description').append(desc);
            });    
        </script>
        <script src="../js/newstory.js"></script>
    </head>
    <body>

        <!-- navbar -->
        <% include partials/nav %>
        <!-- navbar end -->

         <div class="container">
            <div class="toolbar">
                <a href="#" data-command='undo' data-toggle="tooltip" data-placement="top" title="Undo"><i class='fa fa-undo'></i></a>
                <a href="#" data-command='redo' data-toggle="tooltip" data-placement="top" title="Redo"><i class='fa fa-repeat'></i></a>
                <a href="#" data-command='bold' data-toggle="tooltip" data-placement="top" title="Bold"><i class='fa fa-bold'></i></a>
                <a href="#" data-command='italic' data-toggle="tooltip" data-placement="top" title="Italic"><i class='fa fa-italic'></i></a>
                <a href="#" data-command='underline' data-toggle="tooltip" data-placement="top" title="Underline"><i class='fa fa-underline'></i></a>
                <a href="#" data-command='strikeThrough' data-toggle="tooltip" data-placement="top" title="Strike Through"><i class='fa fa-strikethrough'></i></a>
                <a href="#" data-command='justifyLeft' data-toggle="tooltip" data-placement="top" title="Justify Left"><i class='fa fa-align-left'></i></a>
                <a href="#" data-command='justifyCenter' data-toggle="tooltip" data-placement="top" title="Justify Center"><i class='fa fa-align-center'></i></a>
                <a href="#" data-command='justifyRight' data-toggle="tooltip" data-placement="top" title="Justify Right"><i class='fa fa-align-right'></i></a>
                <a href="#" data-command='justifyFull' data-toggle="tooltip" data-placement="top" title="Justify Full"><i class='fa fa-align-justify'></i></a>
                <a href="#" data-command='indent' data-toggle="tooltip" data-placement="top" title="Indent"><i class='fa fa-indent'></i></a>
                <a href="#" data-command='outdent' data-toggle="tooltip" data-placement="top" title="Outdent"><i class='fa fa-outdent'></i></a>
                <a href="#" data-command='insertUnorderedList' data-toggle="tooltip" data-placement="top" title="Insert Unordered List"><i class='fa fa-list-ul'></i></a>
                <a href="#" data-command='insertOrderedList' data-toggle="tooltip" data-placement="top" title="Insert Ordered List"><i class='fa fa-list-ol'></i></a>
                <a href="#" data-command='h1' data-toggle="tooltip" data-placement="top" title="H1">H1</a>
                <a href="#" data-command='h2' data-toggle="tooltip" data-placement="top" title="H2">H2</a>
                <a href="#" data-command='createlink' data-toggle="tooltip" data-placement="top" title="Create Link"><i class='fa fa-link'></i></a>
                <a href="#" data-command='unlink' data-toggle="tooltip" data-placement="top" title="Unlink"><i class='fa fa-unlink'></i></a>
                <a href="#" data-command='insertimage' data-toggle="tooltip" data-placement="top" title="Insert Image"><i class='fa fa-image'></i></a>
                <a href="#" data-command='p' data-toggle="tooltip" data-placement="top" title="Paragraph">P</a>
                <a href="#" data-command='subscript' data-toggle="tooltip" data-placement="top" title="Subscript"><i class='fa fa-subscript'></i></a>
                <a href="#" data-command='superscript' data-toggle="tooltip" data-placement="top" title="Superscript"><i class='fa fa-superscript'></i></a>
            </div>
            <br/>

            <p id="ta-log">Draft.</p>
            <p id="readtime"><b>Read Time:</b> <%= story.meta.readtime %></p>
            <b>Tags:</b> 
            <select multiple data-role="tagsinput" placeholder="Add a Tag">
                <% if(story.tags.length>0) {%>
                    <% story.tags.forEach(function(tag){ %>
                        <option value=<%= tag %>><%= tag %></option>
                    <% }); %>
                <% } %>
            </select>
            <div is="#editor">
                <h2 id="title" class="editor" placeholder="Title" contenteditable="true"></h2> <br/>
                <p id="description" class="editor" placeholder="Your Story....." contenteditable="true"></p>
                
            </div>
        </div>

        <!-- Delete Story Modal -->
        <div class="modal fade" id="deletestory" role="dialog">
            <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Story</h4>
                </div>
                <div class="modal-body">
                <p>Are you sure that you want to delete this story permanently?</p>
                </div>
                <div class="modal-footer">
                <button id="delete" type="button" class="btn btn-danger">Delete This</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Don't Do This</button>
                </div>
            </div>
            </div>
        </div>

    </body> 
</html>