<!DOCTYPE html>
<html>
    <head>
        <title>New Story ~ Artify</title>      
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/598c8aa2ed.js"></script>
        
        <link rel="stylesheet" href="css/newstory.css">
        
    </head>
    <body>

        <!-- navbar -->
        <% include partials/nav %>
        <!-- navbar end -->
        
        <div class="container">
        <% if(stories.length>0){ %>
            <% stories.forEach(function(st){ %>
             <div class="card mb-3">
            <div class="card">
            <div class="card-block">
                <h4 class="card-title"><%= st.title %></h4>
                <p class="card-text"><small class="text-muted"><a href="/edit/<%= st.id %>">Read More...</a></small></p>
            </div>
            <!--<img class="card-img-bottom" src="" alt="Card image cap"> -->
            </div>
            </div>         


            <% }); %> 
        <% } else{ %>
        <center>
            <h1>Haven't Uploaded Any Stories, Yet?</h1>
            <h4><a href="/new-story">Click here</a> to spread your thought across the world!</h4>
        </center>
        <% } %>
        </div>>

    </body> 
</html>