<!DOCTYPE html>
<html>
    <head>
        <title>Profile ~ Artify</title>      
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../css/newstory.css">
        <script>         
            var username=<%- JSON.stringify(user.local.username) %>; 
            var totalfollowers =<%-  JSON.stringify(user.followers.length) %>;     
        </script>
        <script src="js/profile.js"></script>
    </head>
    <body>
        <!-- navbar -->
        <% include partials/nav %>
        <!-- navbar end -->

        <div class="container" style="padding:0% 20%;">
            <h1 id="fullname"><%= user.profile.fullname %> </h1> 
            <p id="bio">Bio: <%= user.profile.bio %></p>
            <p id="location">Location: <%= user.profile.location %></p>
            <p id="age">Age: <%= user.profile.age %></p>
            <a href= "/@<%= user.local.username %>/followers" id="followers">Followers: <%-  JSON.stringify(user.followers.length) %></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/@<%= user.local.username %>/following" id="following">Following: <%-  JSON.stringify(user.following.length) %></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/@<%= user.local.username %>/stories" id="following">Stories: <%-  JSON.stringify(user.stories.length) %></a>  <br/><br/>

            <% if(!(user._id==user.curruserid)) {%>
                <% if(user.followers.indexOf(user.curruserid)>-1) {%>
                    <button id="fu" type="button" class="btn followButton btn-danger">Unfollow</button>
                <% } else { %>
                    <button id="fu" type="button" class="btn followButton btn-success">Follow</button>
                <% } %>
            <% } %>        
        </div> 
        
    </body> 
</html>