<!DOCTYPE html>
<html>
    <head>
        <title>New Story ~ Artify</title>      
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/598c8aa2ed.js"></script>
        <link rel="stylesheet" href="css/newstory.css"> 
        <% if(pageurl.split("/@").length <1) { %>
            <link rel="stylesheet" href="css/newstory.css">
        <% } else{ %>
            <link rel="stylesheet" href="../css/newstory.css">
        <% } %>  
    </head>
    <body>
        <!-- navbar -->
        <% include partials/nav %>
        <!-- navbar end -->


        
        <div class="container">
        <div class="card mb-3">
        <% if(stories.length>0){ %>
            <% stories.forEach(function(st){ %> 
            <div class="card">
            <div class="card-block">
                <h4 class="card-title"><%= st.title %></h4>
                <p class="card-text"><small class="text-muted"><a href="/stories/<%= st._id %>">Read More...</a></small></p>
            </div>
            <!--<img class="card-img-bottom" src="" alt="Card image cap"> -->
            </div>
                <!--
                <b><h2><a href="/stories/<%= st._id %>"><%= st.title %></a></h2></b>
                <hr/> -->
            <% }); %>
        </div>
        <% } else {%>
            <center>
                <h1>Looks like your Storyfeed is empty!</h1>
                <h4><a href="/users">Click here</a> to follow some awesome pepole around the globe, and expore the best out of it!</h4>
            </center>
        <% } %>
        </div>
    </body> 
</html>