<!DOCTYPE html>
<html>
    <head>
        <title>New Story ~ Artify</title>      
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/598c8aa2ed.js"></script>
        <script>
            
            $(document).ready(function(){
                var desc = <%- JSON.stringify(story.description) %>;
                var title = <%- JSON.stringify(story.title) %> ;
                $('#title').html('<b>'+title+'</b>');
                $('#description').html(desc);
            }); 
        </script>
        <link rel="stylesheet" href="../css/newstory.css">
    </head>
    <body>

        <!-- navbar -->
        <% include partials/nav %>
        <!-- navbar end -->

         <div class="container">   
            <div is="#editor">
                <h2 id="title" class="editor"></h2> 
                <b>Author:</b> <a href="/@<%= user.local.username%>"><%= user.profile.fullname%></a> &nbsp;&nbsp;&nbsp;
                <b>Read Time:</b> <%= story.meta.readtime %> &nbsp;&nbsp;&nbsp;
                 <% if(story.tags.length>0) {%>
                    <b>Tags:</b>
                    <% story.tags.forEach(function(tag){ %>
                        <a class="aspan" href="tag/<%= tag %>"><span class="label label-success"> <%= tag %></span></a>
                    <% }); %>
                <% } %>
                
                <br/><br/>
                
                <p id="description" class="editor"></p>
            </div>
        </div>


    </body> 
</html>