<!DOCTYPE html>
<html>
    <head>
        <title>Users ~ Artify</title>      
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/newstory.css">
    </head>
    <body>
            <!-- navbar -->
            <% include partials/nav %>
            <!-- navbar end -->
            
            <% user.forEach(function(us){ %>
            <ul>
                <% if(us.profile.fullname) {%>
                    <li><a href="/@<%= us.local.username %>"><%= us.profile.fullname %></a></li>
                <% } else { %>
                    <li><a href="/@<%= us.local.username %>"><%= us.local.username %></a></li>
                <% } %>
            </ul>
            <% }); %>
        
    </body> 
</html>