.navbar-brand , .navbar-nav>li>a {
    line-height:30px;
} 

.profilepic{
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.profiledropdown{
  display: inline-block;
  padding: 12px 20px;
}

.form-control {
    font-size: 20px;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

/*.toolbar {
  text-align: center;
}*/

a {
  cursor: pointer;
}

.toolbar a{
    font-size: 18px;
    text-align: center;
    border: 1px solid #AAA;
    background: #FFF;
    font-family: 'Candal';
    border-radius: 1px;
    color: black;
    padding: 5px;
    width: 2em;
    margin: -2px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0px 1px 0px #CCC;
}

.toolbar a:hover {
  background: #f2f2f2;
  border-color: #8c8c8c;
}

a[data-command='redo'],
a[data-command='strikeThrough'],
a[data-command='justifyFull'],
a[data-command='insertOrderedList'],
a[data-command='outdent'],
a[data-command='p'],
a[data-command='superscript'] {
  margin-right: 5px;
  border-radius: 0 3px 3px 0;
}

a[data-command='undo'],
.fore-wrapper,
a[data-command='justifyLeft'],
a[data-command='insertUnorderedList'],
a[data-command='indent'],
a[data-command='h1'],
a[data-command='subscript'] {
  border-radius: 3px 0 0 3px;
}

.editor{
  outline: none;
  border: none;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  color:gray;
}

#description{
  font-size:20px;
}

/* Bootstrap Tags Input CSS */
.bootstrap-tagsinput {
  background-color: #fff;
  /*border-bottom: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.label-info{
  background-color:#5cb85c;
}
.label{
  font-size: 95%;
}

#fullname{
  font-size: 35px;
  font-weight: bold;
}

#location,#bio,#age,#followers,#following{
  font-size: 18px;
}

textarea {
   resize: none;
   overflow:hidden;
   width: 40%;
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

/*story.ejs*/
.aspan:hover{
  text-decoration: none;
  text-decoration-line: none;
}

h2 > a, h2 > a:hover{
  color: #333;
  text-decoration: none;
}