body{
    background-image:url("../img/bg5.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
body{
opacity:0;
}

::-webkit-scrollbar {
    width: 0px;
	z-index:0;
 
	
	}
.logo{
    margin:0 0 2% 0;
    padding-top: 1% auto;
    
}

.nav{
     margin: 0;
     padding:0;

}

.nav ul{
    margin: 0;
    padding: 0;
    text-align: center;
    max-width: 100%;
}

.nav ul li{
    list-style-type: none;
    display: inline;
    margin:0px 20px;
    padding: 10px 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 25px;
	
	border-radius: 40px;
}

.nav ul li:hover{
    list-style-type: none;
    display: inline;
    margin:0px 20px;
    padding: 10px 20px;
    background: rgba(37,37,37,0.5);
    border-radius: 5px;
	transition:all 0.3s ease-in;
	 border-radius:5px;
}

.nav ul li.active{
    list-style-type: none;
    display: inline;
    margin:0px 20px;
    padding: 10px 20px;
    border-bottom:2px solid white;
    border-radius: 8px;
}


.nav ul li a{
    color: white;
    text-decoration: none;
}

#signup{
    height: auto;
    max-width: 900px;
    background: rgba(255,255,255,0.5);
    margin: 5% auto 2% auto;
    border-top: 3px dashed #5C4978;
    border-bottom: 3px dashed #2E3837;
    border-left: 3px dashed  #166678;
    border-right: 3px dashed #FF304F;
    
}

#signup .heading{
    font-family: 'Amatic SC', cursive;
    font-size:60px;
    font-weight: 700;
    color: #252525;
    text-align: center;
    margin: 2% 0 2% 0;
}

#signup .input{
    background: rgba(255,255,255,0.8);
    height: 50px;
    width: 60%;
    margin-left: 19%;
    margin-bottom: 3%;
    text-align: center;
    color:black;
    font-family: 'Josefin Sans', sans-serif;
    font-size:30px;
    font-weight: 300;
    outline: none;
    border: none;
    border-radius: 3px;
}

#signup .input:focus{
    background: rgba(255,255,255,0.8);
    height: 50px;
    width: 60%;
    margin-left: 19%;
    margin-bottom: 3%;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size:30px;
    outline: none;
    border-bottom: 2px dashed black;
    border-radius: 3px;
}

.submitbtn{
    color: black;
    background:transparent;
transition:all 0.2s ease-in;
    height:50px;
    padding: 10px 10px;
    border:2px solid black;
    border-radius: 6px;
    cursor:pointer;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin:0 41% 4% 41%;
}
.submitbtn:hover{
    
    background:rgba(100,100,100,0.2);

}

.message{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #252525;
    margin-bottom: 20px;
    background: white;
    padding:5px 0px;
}
